body {
  background-color: #121213;
  font-family: 'Iranian Sans';
  color: white;
}

.App {
  user-select: none;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 3vh;
}

.header h1{
  font-size:clamp(22px,  3.2vmin, 70px);
}

.message{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 35%;
  margin: 2vh auto;
}
.message h2{
  font-size:clamp(19px,  2.2vmin, 50px);
  width: 100%;
  text-align: center;
}

.score{
  display: flex;
  align-items: center;
  font-size:clamp(10px,  2vmin, 50px);
  
}
.score *{
  margin: 2px;
}

.score span{
  font-size: 2vmin;
}

.game {
  /* flex: 9; */
  width: 70vw;
  margin: 2vh 0;
  
}

.row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.cell {
  padding: 2vmin;
  width: 4vmin;
  height: 4vmin;
  border: 1px solid #3a3a3c;
  margin: 4px;
  min-width: 25px;
  min-height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 800ms;

}

.cell>h3 {
  font-size: 3vmin;
}

@media screen and (max-width: 500px){
  .message{
    width: 100%;
  }
}


.yellow {
  background-color: #b59f3b;
}

.green {
  background-color: #538d4e;
}

.gray {
  background-color: #3a3a3c; 
}