body{
 background-color: #121213; 
 font-family: 'Iranian Sans';
 color: white;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.header{
  flex: 1;
}
.game{
  flex: 9;
  width: 70vw;
  margin: 2vh 0;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.cell{
  padding: 2vmin;
  width: 4vmin;
  height: 4vmin;
  border: 1px solid #3a3a3c;
  margin: 4px;
  min-width: 25px;
  min-height: 25px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell > h3{
  font-size: 3vmin;
}
